<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>dashboard</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">


    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;700&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="../static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="../static/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <link href="../static/css/doc.css" rel="stylesheet">
    <style>
        .btns {
            border: 1px solid var(--black);
            display: inline-block;
            margin-top: 1rem;
            padding: .8rem 3rem;
            font-size: 1rem;
            border-radius: .5rem;
            color: var(--black);
            cursor: pointer;
            background: none;
        }

        .btns:hover {
            background: linear-gradient(120deg, #5969C2 40%, #663399);
            color: #fff;
        }

        .toast.slide-in {
            animation: slideIn 0.6s ease-out;
        }

        @keyframes slideIn {
            from {
                opacity: 0;
                transform: translateX(100%);
            }

            to {
                opacity: 1;
                transform: translateX(0);
            }
        }

        .toast.fade-out {
            animation: fadeOut 1s ease-in forwards;
        }

        @keyframes fadeOut {
            to {
                opacity: 0;
                transform: translateY(-10px);
            }
        }

        .dropdown-submenu {
            position: relative;
        }

        .dropdown-submenu>.dropdown-menu {
            top: 0;
            left: 100%;
            margin-top: -1px;
        }

        @media (min-width: 992px) {
            .dropdown-submenu:hover>.dropdown-menu {
                display: block;
            }
        }
    </style>
</head>

<body>
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" href="/dashboard">HealthCheck</a>
            <img src="../static/images/icon.png" class="d-inline-flex link-body-emphasis text-decoration-none" alt=""
                width="40" height="32">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="/dashboard"><i class="fa fa-home"
                                aria-hidden="true">Home</i></a></li>

                    <li class="nav-item"><a class="nav-link" href="/aboutD"><i class="fa fa-info-circle"
                                aria-hidden="true">About</i></a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button"
                            data-bs-toggle="dropdown">
                            <img src="../static/images/profile_icon.png" alt="Profile" height="25px">
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">

                            <li><a class="dropdown-item" href="/profile"><i class="bi bi-person-circle me-2"></i>View
                                    Profile</a></li>

                            <!-- User Activity with Submenu -->
                            <li class="dropdown-submenu">
                                <a class="dropdown-item dropdown-toggle" href="#"><i
                                        class="bi bi-clock-history me-2"></i>User Activity</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="/activity"><i
                                                class="bi bi-clipboard-data me-2"></i>Prediction History</a></li>
                                    <li><a class="dropdown-item" href="/healthactivity"><i
                                                class="bi bi-heart-pulse me-2"></i>BMI-BMR History</a></li>
                                </ul>
                            </li>

                            <li><a class="dropdown-item text-danger" href="/logout"><i
                                        class="bi bi-box-arrow-right me-2"></i>Logout</a></li>
                        </ul>

                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Navbar End -->

    <!-- Toast Container -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="position-fixed top-0 end-0 p-3" style="z-index: 1100;">
        {% for category, message in messages %}
        {% set toast_config = {
        'success': {'class': 'bg-success text-white', 'icon': 'bi-check-circle-fill'},
        'error': {'class': 'bg-danger text-white', 'icon': 'bi-x-circle-fill'},
        'info': {'class': 'bg-info text-white', 'icon': 'bi-info-circle-fill'},
        'warning': {'class': 'bg-warning text-dark', 'icon': 'bi-exclamation-triangle-fill'}
        }[category] %}
        <div class="toast align-items-center slide-in shadow {{ toast_config.class }} border-0 rounded mb-2"
            role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body d-flex align-items-center gap-2">
                    <i class="bi {{ toast_config.icon }}"></i>
                    {{ message }}
                </div>
                <button type="button"
                    class="btn-close {{ 'btn-close-white' if category != 'warning' else '' }} me-2 m-auto"
                    data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}


    <!-- Bootstrap JS (with Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Activate All Toasts -->
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const toastElList = [].slice.call(document.querySelectorAll('.toast'));
            toastElList.forEach(function (toastEl) {
                const toast = new bootstrap.Toast(toastEl, {
                    delay: 2000
                });

                toast.show();

                // Add fade-out before toast disappears
                setTimeout(() => {
                    toastEl.classList.add("fade-out");
                }, 1000); // slightly before it auto-dismisses
            });
        });
    </script>

    <!-- predictions -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5" style="max-width: 500px;">
                <h3 class="d-inline-block text-primary text-uppercase border-bottom border-5">PREDICTION</h3>
                <h2 class="display-4">Predict.Prevent.Protect.</h2>
            </div>
            <div class="owl-carousel team-carousel position-relative">
                <div class="team-item">
                    <div class="row g-0 bg-light rounded overflow-hidden">
                        <div class="col-12 col-sm-5 h-100">
                            <img class="img-fluid h-100" src="../static/images/h1.avif" style="object-fit: cover;">
                        </div>
                        <div class="col-12 col-sm-7 h-100 d-flex flex-column">
                            <div class="mt-auto p-4">
                                <h3>Heart Disease Prediction</h3>
                                <p class="m-0">Get insights and predictions on heart disease</p>
                            </div>
                            <div class="d-flex mt-auto border-top p-4">
                                <a href="/heart_prediction" class="btns">Check Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="team-item">
                    <div class="row g-0 bg-light rounded overflow-hidden">
                        <div class="col-12 col-sm-5 h-100">
                            <img class="img-fluid h-100" src="../static/images/d4.jpg" style="object-fit: cover;">
                        </div>
                        <div class="col-12 col-sm-7 h-100 d-flex flex-column">
                            <div class="mt-auto p-4">
                                <h3>Diabetes Prediction</h3>
                                <p class="m-0">Analyze and predict diabetes risks</p>
                            </div>
                            <div class="d-flex mt-auto border-top p-4">
                                <a href="/diabetes" class="btns">Check Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="team-item">
                    <div class="row g-0 bg-light rounded overflow-hidden">
                        <div class="col-12 col-sm-5 h-100">
                            <img class="img-fluid h-100" src="../static/images/parkinson.png"
                                style="object-fit: cover;">
                        </div>
                        <div class="col-12 col-sm-7 h-100 d-flex flex-column">
                            <div class="mt-auto p-4">
                                <h3>Parkinsons Disease Prediction</h3>
                                <p class="m-0">Detect Parkinsons with intelligent predictions</p>
                            </div>
                            <div class="d-flex mt-auto border-top p-4">
                                <a href="/parkinson" class="btns">Check Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="team-item">
                    <div class="row g-0 bg-light rounded overflow-hidden">
                        <div class="col-12 col-sm-5 h-100">
                            <img class="img-fluid h-100" src="../static/images/ckd_banner3.png"
                                style="object-fit: cover;">
                        </div>
                        <div class="col-12 col-sm-7 h-100 d-flex flex-column">
                            <div class="mt-auto p-4">
                                <h3>Kidney Disease Prediction</h3>
                                <p class="m-0">Be asure of your kidney's condition.</p>
                            </div>
                            <div class="d-flex mt-auto border-top p-4">
                                <a href="/kidney" class="btns">Check Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="team-item">
                    <div class="row g-0 bg-light rounded overflow-hidden">
                        <div class="col-12 col-sm-5 h-100">
                            <img class="img-fluid h-100" src="../static/images/liver_d.jpg" style="object-fit: cover;">
                        </div>
                        <div class="col-12 col-sm-7 h-100 d-flex flex-column">
                            <div class="mt-auto p-4">
                                <h3>Liver Disease Prediction</h3>
                                <p class="m-0">Monitor your liver's health with confidence.</p>
                            </div>
                            <div class="d-flex mt-auto border-top p-4">
                                <a href="/liver" class="btns">Check Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="team-item">
                    <div class="row g-0 bg-light rounded overflow-hidden">
                        <div class="col-12 col-sm-5 h-100">
                            <img class="img-fluid h-100" src="../static/images/Breast-Cancer.jpeg"
                                style="object-fit: cover;">
                        </div>
                        <div class="col-12 col-sm-7 h-100 d-flex flex-column">
                            <div class="mt-auto p-4">
                                <h3>Breast_Cancer Classification</h3>
                                <p class="m-0">Early detection,lifelong protection</p>
                            </div>
                            <div class="d-flex mt-auto border-top p-4">
                                <a href="/Breast_cancer" class="btns">Check Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="team-item">
                    <div class="row g-0 bg-light rounded overflow-hidden">
                        <div class="col-12 col-sm-5 h-100">
                            <img class="img-fluid h-100" src="../static/images/fatty_liver.jpg"
                                style="object-fit: cover;">
                        </div>
                        <div class="col-12 col-sm-7 h-100 d-flex flex-column">
                            <div class="mt-auto p-4">
                                <h3>Fatty_Liver Disease Prediction</h3>
                                <p class="m-0">Take control of your fatty liver health—early action makes all the
                                    difference.</p>
                            </div>
                            <div class="d-flex mt-auto border-top p-4">
                                <a href="/fatty_liver" class="btns">Check Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="team-item">
                    <div class="row g-0 bg-light rounded overflow-hidden">
                        <div class="col-12 col-sm-5 h-100">
                            <img class="img-fluid h-100" src="../static/images/fever.avif" style="object-fit: cover;">
                        </div>
                        <div class="col-12 col-sm-7 h-100 d-flex flex-column">
                            <div class="mt-auto p-4">
                                <h3>Typhoid Prediction</h3>
                                <p class="m-0">let technology fight typhoid before symptoms do</p>
                            </div>
                            <div class="d-flex mt-auto border-top p-4">
                                <a href="/typhoid" class="btns">Check Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Indra -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5" style="max-width: 500px;">
                <h3 class="d-inline-block text-primary text-uppercase border-bottom border-5">RECOGNIZE</h3>
                <h2 class="display-4">Detect.Diagnose.Defend.</h2>
            </div>
            <div class="owl-carousel team-carousel position-relative">

                <div class="team-item">
                    <div class="row g-0 bg-light rounded overflow-hidden">
                        <div class="col-12 col-sm-5 h-100">
                            <img class="img-fluid h-100" src="../static/images/symptom_predictor.avif"
                                style="object-fit: cover;">
                        </div>
                        <div class="col-12 col-sm-7 h-100 d-flex flex-column">
                            <div class="mt-auto p-4">
                                <h3>Multi-Symptom Disease Predictor</h3>
                                <p class="m-0">Select symptoms to get the top possible disease predictions.</p>
                            </div>
                            <div class="d-flex mt-auto border-top p-4">
                                <a href="/predict_disease_symptoms" class="btns">Predict Now</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="team-item">
                    <div class="row g-0 bg-light rounded overflow-hidden">
                        <div class="col-12 col-sm-5 h-100">
                            <img class="img-fluid h-100" src="../static/images/tumor.jpg" style="object-fit: cover;">
                        </div>
                        <div class="col-12 col-sm-7 h-100 d-flex flex-column">
                            <div class="mt-auto p-4">
                                <h3>Brain Tumor Prediction</h3>
                                <p class="m-0">Easily Detect your brain tumor</p>
                            </div>
                            <div class="d-flex mt-auto border-top p-4">
                                <a href="/tumor" class="btns">Check Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--Nutrition start-->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5" style="max-width: 500px;">
                <h3 class="d-inline-block text-primary text-uppercase border-bottom border-5">NUTRITION</h3>
                <h2 class="display-4">Calculate.Control.Care.</h2>
            </div>
            <div class="owl-carousel team-carousel position-relative">
                <div class="team-item">
                    <div class="row g-0 bg-light rounded overflow-hidden">
                        <div class="col-12 col-sm-5 h-100">
                            <img src="../static/images/BMI.png" class="img-fluid w-100 h-100"
                                style="object-fit: cover; object-position: center;">
                        </div>
                        <div class="col-12 col-sm-7 h-100 d-flex flex-column">
                            <div class="mt-auto p-4">
                                <h3>BMI Calculator</h3>
                                <p class="m-0">Assess your body mass index to better understand your health and get
                                    advises accordingly.</p>
                            </div>
                            <div class="d-flex mt-auto border-top p-4">
                                <a href="/BMI" class="btns">Calculate Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="team-item">
                    <div class="row g-0 bg-light rounded overflow-hidden">
                        <div class="col-12 col-sm-5 h-100">
                            <img src="../static/images/bmr.png" class="img-fluid w-100 h-100"
                                style="object-fit: cover; object-position: center;">
                        </div>
                        <div class="col-12 col-sm-7 h-100 d-flex flex-column">
                            <div class="mt-auto p-4">
                                <h3>BMR Calculator</h3>
                                <p class="m-0">Discover your daily calorie needs based on your Basal Metabolic Rate and
                                    get trustsed lifestyle suggestions.</p>
                            </div>
                            <div class="d-flex mt-auto border-top p-4">
                                <a href="/BMR" class="btns">Calculate Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="team-item">
                    <div class="row g-0 bg-light rounded overflow-hidden">
                        <div class="col-12 col-sm-5 h-100">
                            <img src="../static/images/tdee.jpg" class="img-fluid w-100 h-100"
                                style="object-fit: cover; object-position: center;">
                       </div>
                        <div class="col-12 col-sm-7 h-100 d-flex flex-column">
                            <div class="mt-auto p-4">
                                <h3>TDEE Calculator</h3>
                                <p class="m-0">Uncover your Total Daily Energy Expenditure and get trustworthy, personalized advice for your wellness journey.</p>
                            </div>
                            <div class="d-flex mt-auto border-top p-4">
                                <a href="/TDEE" class="btns">Calculate Now</a>
                            </div>
                        </div>
                    </div>
                </div> -->
                <div class="team-item">
                    <div class="row g-0 bg-light rounded overflow-hidden">
                        <div class="col-12 col-sm-5 h-100">
                            <img src="../static/images/water-calculator-icon-2.png" class="img-fluid w-100 h-100"
                                style="object-fit: cover; object-position: center;">
                        </div>
                        <div class="col-12 col-sm-7 h-100 d-flex flex-column">
                            <div class="mt-auto p-4">
                                <h3>Hydration Calculator</h3>
                                <p class="m-0">Discover your optimal daily water intake and get reliable advice to stay well-hydrated and energized.</p>
                            </div>
                            <div class="d-flex mt-auto border-top p-4">
                                <a href="/HydrationCalculator" class="btns">Calculate Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="team-item">
                    <div class="row g-0 bg-light rounded overflow-hidden">
                        <div class="col-12 col-sm-5 h-100">
                            <img src="../static/images/n_c_icon.png" class="img-fluid w-100 h-100"
                                style="object-fit: cover; object-position: center;">
                        </div>
                        <div class="col-12 col-sm-7 h-100 d-flex flex-column">
                            <div class="mt-auto p-4">
                                <h3>Nutrient Calculator</h3>
                                <p class="m-0">Uncover your daily nutritional needs and get tailored, trustworthy suggestions for a well-rounded diet.</p>
                            </div>
                            <div class="d-flex mt-auto border-top p-4">
                                <a href="/NutrientCalculator" class="btns">Calculate Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="team-item">
                    <div class="row g-0 bg-light rounded overflow-hidden">
                        <div class="col-12 col-sm-5 h-100">
                            <img src="../static/images/ideal-weight-calculator-icon.webp" class="img-fluid w-100 h-100"
                                style="object-fit: cover; object-position: center;">
                        </div>
                        <div class="col-12 col-sm-7 h-100 d-flex flex-column">
                            <div class="mt-auto p-4">
                                <h3>Body Weight Determiner</h3>
                                <p class="m-0">Find your ideal body weight using your height and gender, along with reliable advice for healthy weight management.</p>
                            </div>
                            <div class="d-flex mt-auto border-top p-4">
                                <a href="/body_weight_Calculator" class="btns">Calculate Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--nutrition end-->


    <!--Mental health start-->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5" style="max-width: 500px;">
                <h3 class="d-inline-block text-primary text-uppercase border-bottom border-5">Mental Health</h3>
                <h2 class="display-4">Screen.Support.Strengthen.</h2>
            </div>
            <div class="owl-carousel team-carousel position-relative">
                <div class="team-item">
                    <div class="row g-0 bg-light rounded overflow-hidden">
                        <div class="col-12 col-sm-5 h-100">
                            <img src="../static/images/dep.jpeg" class="img-fluid w-100 h-100"
                                style="object-fit: cover; object-position: center;">
                        </div>
                        <div class="col-12 col-sm-7 h-100 d-flex flex-column">
                            <div class="mt-auto p-4">
                                <h3>Depression</h3>
                                <p class="m-0">Early screening leads to early support—take a moment for your mental
                                    well-being.</p>
                            </div>
                            <div class="d-flex mt-auto border-top p-4">
                                <a href="/depression" class="btns">Screen Now</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="team-item">
                    <div class="row g-0 bg-light rounded overflow-hidden">
                        <div class="col-12 col-sm-5 h-100">
                            <img src="../static/images/stress_sc.jpg" class="img-fluid w-100 h-100"
                                style="object-fit: cover; object-position: center;">
                        </div>
                        <div class="col-12 col-sm-7 h-100 d-flex flex-column">
                            <div class="mt-auto p-4">
                                <h3>Stress</h3>
                                <p class="m-0">Take a pause for your well-being — screen your stress levels with the
                                    clinically trusted PSS-10 tool.</p>
                            </div>
                            <div class="d-flex mt-auto border-top p-4">
                                <a href="/stress_screening" class="btns">Screen Now</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="team-item">
                    <div class="row g-0 bg-light rounded overflow-hidden">
                        <div class="col-12 col-sm-5 h-100">
                            <img src="../static/images/anxiety.jpg" class="img-fluid w-100 h-100"
                                style="object-fit: cover; object-position: center;">
                        </div>
                        <div class="col-12 col-sm-7 h-100 d-flex flex-column">
                            <div class="mt-auto p-4">
                                <h3>Anxiety</h3>
                                <p class="m-0">Take a moment for your mind — screen your anxiety levels with medically
                                    proven method.</p>
                            </div>
                            <div class="d-flex mt-auto border-top p-4">
                                <a href="/anxiety" class="btns">Screen Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="team-item">
                    <div class="row g-0 bg-light rounded overflow-hidden">
                        <div class="col-12 col-sm-5 h-100">
                            <img src="../static/images/stress.avif" class="img-fluid w-100 h-100"
                                style="object-fit: cover; object-position: center;">
                        </div>
                        <div class="col-12 col-sm-7 h-100 d-flex flex-column">
                            <div class="mt-auto p-4">
                                <h3>Stress Calculator</h3>
                                <p class="m-0">Measure your stress, master your peace</p>
                            </div>
                            <div class="d-flex mt-auto border-top p-4">
                                <a href="/stress" class="btns">Calculate Now</a>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <!--mental health end-->


    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-light mt-5 py-5">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-3 col-md-6">
                    <h4 class="d-inline-block text-primary text-uppercase border-bottom border-5 border-secondary mb-4">
                        Get In Touch</h4>
                    <p class="mb-2"><i class="fa fa-envelope text-primary me-3"></i>HealthCheck@gmail.com</p>
                    <p class="mb-0"><i class="fa fa-phone-alt text-primary me-3"></i>8976653322</p>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="d-inline-block text-primary text-uppercase border-bottom border-5 border-secondary mb-4">
                        Quick Links</h4>
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-light mb-2" href="home1.html"><i class="fa fa-angle-right me-2"></i>Home</a>
                        <a class="text-light mb-2" href="about.html"><i class="fa fa-angle-right me-2"></i>About
                            Us</a>
                        <a class="text-light mb-2" href="login.html"><i class="fa fa-angle-right me-2"></i>Login</a>
                        <a class="text-light mb-2" href="dashboard.html"><i
                                class="fa fa-angle-right me-2"></i>Features</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="d-inline-block text-primary text-uppercase border-bottom border-5 border-secondary mb-4">
                        Newsletter</h4>
                    <form action="">
                        <div class="input-group">
                            <input type="text" class="form-control p-3 border-0" placeholder="Your Email Address">
                            <button class="btn btn-primary">Sign Up</button>
                        </div>
                    </form>
                    <h6 class="text-primary text-uppercase mt-4 mb-3">Follow Us</h6>
                    <div class="d-flex">
                        <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-2" href="#"><i
                                class="fab fa-twitter"></i></a>
                        <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-2" href="#"><i
                                class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-2" href="#"><i
                                class="fab fa-linkedin-in"></i></a>
                        <a class="btn btn-lg btn-primary btn-lg-square rounded-circle" href="#"><i
                                class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../static/lib/easing/easing.min.js"></script>
    <script src="../static/lib/waypoints/waypoints.min.js"></script>
    <script src="../static/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="../static/lib/tempusdominus/js/moment.min.js"></script>
    <script src="../static/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="../static/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="../static/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>

    <script>
        document.querySelectorAll('.dropdown-submenu .dropdown-toggle').forEach(function (element) {
            element.addEventListener('click', function (e) {
                e.stopPropagation();
                e.preventDefault();
                let nextEl = this.nextElementSibling;
                if (nextEl && nextEl.classList.contains('dropdown-menu')) {
                    nextEl.classList.toggle('show');

                    // Close other open submenus
                    let parentMenu = this.closest('.dropdown-menu');
                    parentMenu.querySelectorAll('.dropdown-menu.show').forEach(function (submenu) {
                        if (submenu !== nextEl) submenu.classList.remove('show');
                    });
                }
            });
        });
    </script>



</body>

</html>